@font-face {
    font-family: 'PasschipFont'; /*a name to be used later*/
    src: url('freeserif.ttf'); /*URL to font*/
}

.passchip_font {
    font-family: "PasschipFont", serif;
}

.push-to-bottom {
    position:absolute;

    bottom: 5%;
    width: 100%;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.btn-link{
    color: #009492;
}