// Font Families
$g-font-primary: "Open Sans", Helvetica, Arial, sans-serif;

// Font Sizes
// $g-font-primary-size: 16px;

//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #444;
$g-bg-color-main: #fff;

// Main Secondary
$g-bg-color-secondary: #fafafa;

// Primary Color
$g-color-primary: #3949a0;

// Custom Color
$g-theme-color-blue-dark-v1: #14112c;
$g-theme-color-blue-dark-v2: #1d1a37;
$g-theme-color-blue-dark-v3: #211e3f;