// Font Families
$g-font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$g-font-secondary: "Open Sans", Helvetica, Arial, sans-serif;

// Font Sizes
// $g-font-primary-size: 16px;

//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #444;
$g-bg-color-main: #fff;

// Main Secondary
$g-bg-color-secondary: #fafafa;

// Primary Color
$g-color-primary: #fe6466;

// Custom Color
$g-color-primary-dark: #e74c3c;
$g-theme-color-gray-light-v1: #a49da6;
$g-theme-color-gray-light-v2: #b5b5b5;
$g-theme-color-gray-light-v3: #89848a;
$g-theme-color-gray-light-v4: #f8f8f8;
$g-theme-color-gray-dark-v1: #383339;
$g-theme-color-gray-dark-v2: #3e393f;
$g-theme-color-gray-dark-v3: #504a51;
$g-theme-color-gray-dark-v4: #3f3a40;