<!DOCTYPE html>
<html lang="en" class="font-primary">
<head>
    <!-- Title -->
    <title>PASSCHIP</title>
    <meta name="description" content="${data['meta']['description']}">

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin"
          rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="../../resources/favicon.ico">
    <link rel="stylesheet" href="../../resources/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/flag-icon-css-master/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <!-- Icon for header -->
    <link rel="stylesheet" href="../../resources/assets/vendor/icon-hs/style.css">

    <!-- Mobile hamburger -->
    <link rel="stylesheet" href="../../resources/assets/vendor/animate.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../../resources/assets/vendor/slick-carousel/slick/slick.css">


    <link rel="stylesheet" href="../../resources/assets/vendor/swiper/css/swiper.css">


    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../resources/assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../resources/assets/css/custom.css">

</head>

<body id="mytop">
<main>
    <% product = data["products"]["passchipReader"] %>
    <%include file="1-in-header.html"/>


    <!-- DESKTOP -->
    <section class="g-flex-centered g-bg-pos-center g-bg-img-hero hidden-lg-down"
             style="background-image: url(../../resources/images/reader/Razvan_fiverr_2.png); height: calc(100vh - 85px);margin-top:85px;"
             data-calc-target="#js-header">

        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" style="width:100vw;height:100vh">
                <!-- Slides -->
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/1.png);z-index: 100;width:100%; height: calc(100vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/2.png);z-index: 100;width:100%; height: calc(100vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/3.png);z-index: 100;width:100%; height: calc(100vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/4.png);z-index: 100;width:100%; height: calc(100vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/5.png);z-index: 100;width:100%; height: calc(100vh);"
                     data-calc-target="#js-header">
                </div>

            </div>
        </div>


    </section>

    <!-- Tablet -->
    <section class="g-flex-centered g-bg-pos-center g-bg-img-hero hidden-sm-down hidden-xl-up"
             style="background-image: url(../../resources/images/reader/Razvan_fiverr_2.png); height: calc(45vh);margin-top:33px;"
             data-calc-target="#js-header">

        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" style="width:100vw;height:calc(45vh)">
                <!-- Slides -->
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/1.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/2.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/3.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/4.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/5.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>

            </div>
        </div>


    </section>

    <!-- Mobile -->
    <section class="g-flex-centered g-bg-pos-center g-bg-img-hero hidden-sm-up"
             style="background-image: url(../../resources/images/reader/Razvan_fiverr_2.png); height: calc(45vh);margin-top:33px;"
             data-calc-target="#js-header">

        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" style="width:100vw;height:calc(45vh)">
                <!-- Slides -->
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/1.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/2.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/3.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/4.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>
                <div class="swiper-slide g-flex-centered g-bg-pos-center g-bg-img-hero "
                     style="background-image: url(../../resources/images/reader/5.png);z-index: 100;width:100%; height: calc(45vh);"
                     data-calc-target="#js-header">
                </div>

            </div>
        </div>


    </section>


    <section class="container  g-py-80">

        <div class="row">


            <div class="col-md-7">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4"><span
                        class="passchip_font">PASSCHIP</span> Reader</h2>
                <a class="btn btn-link g-ml-0 g-pl-0 smoothscroll" href="#functions"><strong>
                    Functions
                </strong></a>
                <a class="btn btn-link g-ml-0 g-pl-0 smoothscroll" href="#benefits"><strong>
                    Benefits
                </strong></a>
                <a class="btn btn-link g-ml-0 g-pl-0 smoothscroll" href="#downloads"><strong>
                    Downloads
                </strong></a>
                <div class="">
                    <div class="mb-5 g-py-50 ">
                        % for paragraph in product["fulLDescriptionParagraphList"]:
                        <p class="g-color-gray-dark-v4 g-font-size-18">
                            ${paragraph}
                        </p>
                        % endfor
                    </div>

                </div>
            </div>

            <div class="col-md-5 g-py-150--lg">
                <div id="carousel-08-1" class="js-carousel text-center g-mb-20" data-autoplay="true" data-speed="800"
                     data-infinite="1"
                     data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10"
                     data-arrow-left-classes="fa fa-angle-left g-left-0"
                     data-arrow-right-classes="fa fa-angle-right g-right-0" data-nav-for="#carousel-08-2">

                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(2).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(2).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(3).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(3).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(4).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(4).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(5).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(5).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(6).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(6).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(7).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(7).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(8).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(8).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(9).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(9).jpg"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(9).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(10).png"
                                 alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="js-fancybox d-block g-pos-rel" data-fancybox-gallery="lightbox-gallery--08-1"
                           href="../../resources/images/passchip/passchip_model%20(9).jpg" title="Lightbox Gallery"
                           data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000"
                           data-close-speed="1000" data-blur-bg="true">
                            <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(11).png"
                                 alt="Image Description">
                        </a>
                    </div>
                </div>

                <div id="carousel-08-2" class="js-carousel text-center g-mx-minus-10 u-carousel-v3" data-infinite="1"
                     data-center-mode="1" data-slides-show="4" data-is-thumbs="1" data-nav-for="#carousel-08-1">


                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(2).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(3).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(4).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(5).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(6).jpg"
                             alt="Image Description">
                    </div>
                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(7).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(8).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(9).jpg"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(10).png"
                             alt="Image Description">
                    </div>

                    <div class="js-slide g-px-10">
                        <img class="img-fluid w-100" src="../../resources/images/passchip/passchip_model%20(11).png"
                             alt="Image Description">
                    </div>


                </div>

            </div>
        </div>
    </section>


    <section class="container g-mb-50">
        <div class="row">
            <div class="fadeIn u-in-viewport" id="functions" data-animation="fadeIn" data-animation-out="zoomOutDown"
                 data-animation-delay="0" data-animation-duration="1000" style="animation-duration: 1000ms;">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"> Functions</h2>
                </div>
                <ul class="g-font-size-20">
                    % for function in product["functionsBulletList"]:
                    <li>
                        ${function}
                    </li>
                    % endfor
                </ul>
            </div>
        </div>
        <hr class="g-my-50">
        <div class="row">
            <div class="fadeIn u-in-viewport" id="benefits" data-animation="fadeIn" data-animation-out="zoomOutDown"
                 data-animation-delay="0" data-animation-duration="1000" style="animation-duration: 1000ms;">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"> Benefits</h2>
                </div>
                <ul class="g-font-size-20">
                    % for benefit in product["benefitsBulletList"]:
                    <li>
                        ${benefit}
                    </li>

                    % endfor
                </ul>
            </div>
        </div>
        <hr class="g-my-50">

        <div class="row">
            <div class="fadeIn u-in-viewport" id="downloads" data-animation="fadeIn" data-animation-out="zoomOutDown"
                 data-animation-delay="0" data-animation-duration="1000" style="animation-duration: 1000ms;">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"> Downloads</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3><strong>English</strong></h3>


                        <a href="../../resources/Files/Data-Sheet_EN%20PASSCHIP.pdf" class="g-font-size-22">PASSCHIP
                            Reader Data Sheet </a> <br>
                        <a href="../../resources/Files/Data-Sheet_EN%20PASSCHIP%20Slim%20Line.pdf"
                           class="g-font-size-22">PASSCHIP Reader Slim Line </a> <br>
                        <a href="../../resources/Files/Technical-Description_EN%20PASSCHIP.pdf"
                           class="g-font-size-22">PASSCHIP Reader Technical Description </a> <br>
                        <a href="../../resources/Files/PASSCHIP-_-SOLUTION-PRESENTATION-BT.pdf"
                           class="g-font-size-22">PASSCHIP solution presentation </a> <br>


                        <a href="../../resources/Files/RPiShield-Pinout.pdf" class="g-font-size-22"> RPiShield
                            PINOUT </a> <br>
                        <a href="../../resources/Files/CHIP-READER-AE-DOCUMENTATION.pdf"
                           class="g-font-size-22"> Chip Reader Documentation </a> <br>
                        <a href="../../resources/Files/PASSCHIP%20Models%20v8.pdf" class="g-font-size-22">PASSCHIP
                            Reader Configuration </a> <br><br><br><br>

                    </div>

                    <div class="col-md-6 col-xs-12">
                        <h3><strong>Deutsche</strong></h3>
                        <a href="../../resources/Files/Data-Sheet_DE%20PASSCHIP.pdf" class="g-font-size-22">PASSCHIP
                            Leser Datenblatt </a>
                        <br>
                        <a href="../../resources/Files/Data-Sheet_DE%20PASSCHIP%20Slim%20Line.pdf"
                           class="g-font-size-22">PASSCHIP Leser Datenblatt SLIM </a>
                        <br>
                        <a href="../../resources/Files/Technical_Description_DE%20PASSCHIP.pdf" class="g-font-size-22">PASSCHIP
                            Leser Technische Beschreibung </a> <br>
                        <a href="../../resources/Files/PASSCHIP%20Models%20v8.pdf" class="g-font-size-22">PASSCHIP Leser
                            Konfiguration </a> <br><br><br><br>

                    </div>


                    <div class="col-md-6 col-xs-12">
                        <h3><strong>Français</strong></h3>
                        <a href="../../resources/Files/Data-Sheet_FR%20PASSCHIP.pdf"
                           class="g-font-size-22">Lecteur PASSCHIP Description technique du produit </a> <br>
                        <a href="../../resources/Files/Data-Sheet_FR%20PASSCHIP%20Slim%20Line.pdf"
                           class="g-font-size-22">Lecteur PASSCHIP Description technique du produit - SLIM </a> <br>
                        <a href="../../resources/Files/Technical-Description_FR%20PASSCHIP.pdf" class="g-font-size-22">Lecteur
                            PASSCHIP Fiche technique </a> <br>
                        <a href="../../resources/Files/PASSCHIP%20Models%20v8.pdf" class="g-font-size-22">Lecteur
                            PASSCHIP Configuration </a> <br><br><br><br>
                    </div>


                    <div class="col-md-6 col-xs-12">


                        <h3><strong>Español</strong></h3> <br>
                        <a href="../../resources/Files/Data-Sheet_ES%20PASSCHIP.pdf" class="g-font-size-22">Hoja de
                            datos del lector PASSCHIP <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> <br>
                        <a href="../../resources/Files/Data-Sheet_ES%20PASSCHIP%20Slim%20Line.pdf"
                           class="g-font-size-22">Hoja de datos del lector PASSCHIP - SLIM <i class="fa fa-file-pdf-o"
                                                                                              aria-hidden="true"></i></a>
                        <br>
                        <a href="../../resources/Files/Technical_Description_ES%20PASSCHIP.pdf" class="g-font-size-22">Descripción
                            técnica del lector PASSCHIP
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> <br>
                        <a href="../../resources/Files/PASSCHIP%20Models%20v8.pdf" class="g-font-size-22">
                            Modelos de lectores Passcip <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <br><br><br><br>


            </div>
        </div>
    </section>


    <%include file="1-in-footer.html"/>

</main>

<!-- JS Global Compulsory -->
<script src="../../resources/assets/vendor/jquery/jquery.min.js"></script>
<script src="../../resources/assets/vendor/tether.min.js"></script>
<script src="../../resources/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="../../resources/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="../../resources/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="../../resources/assets/vendor/gmaps/gmaps.min.js"></script>
<script src="../../resources/assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="../../resources/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="../../resources/assets/vendor/appear.js"></script>

<!-- JS Unify -->
<script src="../../resources/assets/js/hs.core.js"></script>
<script src="../../resources/assets/js/components/hs.header.js"></script>
<script src="../../resources/assets/js/helpers/hs.hamburgers.js"></script>
<script src="../../resources/assets/js/components/hs.tabs.js"></script>
<script src="../../resources/assets/js/components/hs.cubeportfolio.js"></script>
<script src="../../resources/assets/js/components/hs.carousel.js"></script>
<script src="../../resources/assets/js/components/hs.popup.js"></script>
<script src="../../resources/assets/js/components/hs.header.js"></script>
<script src="../../resources/assets/js/helpers/hs.hamburgers.js"></script>
<script src="../../resources/assets/js/helpers/hs.focus-state.js"></script>
<script src="../../resources/assets/js/components/hs.counter.js"></script>
<script src="../../resources/assets/js/components/hs.go-to.js"></script>

<!-- JS Implementing Plugins -->
<script src="../../resources/assets/vendor/gmaps/gmaps.min.js"></script>
<script src="../../resources/assets/js/components/gmap/hs.map.js"></script>


<script src="../../resources/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="../../resources/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
<script src="../../resources/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
<script src="../../resources/assets/vendor/swiper/js/swiper.js"></script>

<!-- JS Customization -->
<script src="../../resources/assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
    ;(function ($) {
        'use strict';
        $(document).on('ready', function () {
            // Header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // Initialization of HSMegaMenu plugin
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
            $.HSCore.components.HSTabs.init('[data-tabs-mobile-type]');

            $.HSCore.components.HSCubeportfolio.init('.cbp');

            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            $.HSCore.components.HSPopup.init('.js-fancybox');

            var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        });
    })(jQuery);


</script>


<script>
    // Toolttips
    $(document).on('ready', function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Maps
    function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
    }
</script>


<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        fadeEffect: {
            crossFade: true
        }
    });
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async
        defer></script>
</body>
</html>
